/*Main CSS begin
Button animation credit to https://css-tricks.com/snippets/css/picross-style-buttons/
Batman logo credit to http://codepen.io/damienpm/*/

body {
  background-color: #98a4a6;
  text-align: center;
  text-decoration:none;
}

/*Loading image gif
img {
  z-index: -1;
  width: 2000px;
  height: 1250px;
  background: url('../images/loading.gif') 50% no-repeat radial-gradient(circle, black, white);
  border: 1px solid black;
  border-radius: 5px;
}*/

.container {
  box-sizing: border-box;
  text-align: center;
}

#content{
  background-color: #a39e94;
  margin: 45px;
  padding: 15px;
  border: 5px inset #111;
/*Sourced from http://www.cssmatic.com/box-shadow  */
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#calculator-body {
  width: 24em;
  padding: 10px;
  background-color: #303030;
  border: 5px ridge #edc233;
}

#display {
  font-family: Arial, sans-serif;
  font-size: 3em;
  background-color: white;
  text-align: right;
  margin: 0 .5em;
  padding: 5px;
  border: 5px ridge black;
}

.row {
}

.key {
  width: 22%;
  border: 3px
}

.btn {
  margin: 3px;
	display: inline-block;
	line-height: 18px;
	color: #a39e94;
	text-shadow: -1px -1px 1px #616161;
	position: relative;
}

.shadow {
	position: absolute;
	top:5px;
	left: 5px;
	background: #98a4a6;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.operator {
  background-color: #98a4a6;
  color: #edc233;
  border: 1px ridge #FF4A00;
}

.num {
  background-color: #edc233;
  color: #000000;
  border: 1px ridge #98a4a6;
}

#equal{
  width: 95%;
}
#end {
  font-weight: bold;
  width: 50%;
  padding: 10px;
}

/*Batman logo credit to http://codepen.io/damienpm/*/

#batman {
  position: absolute;;
  left: 50%;
  top: 50%;
  margin: -20px 0px 0px -175px;
  width: 350px;
  height: 200px;
  background-color: #111;
  border-radius: 175px / 100px;
}

.inner-y {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -87px 0px 0px -160px;
  width: 320px;
  height: 174px;
  background-color: #edc233;
  border-radius: 195px / 106px;
  overflow: hidden;
}

.inner-b {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0px 0px -148px;
  width: 296px;
  height: 150px;
  background-color: #111;
  border-radius: 205px / 106px;
}

.cut-lr,
.cut-rr {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 500px;
  background-color: #edc233;
  top: 32px;
  margin: -27px 0px 0px -27px;
}

.cut-bll,
.cut-brr {
  position: absolute;
  width: 78px;
  height: 44px;
  border-radius: 205px / 106px;
  background-color: #edc233;
  bottom: -2px;
}

.cut-lr {
  left: 102px;
}

.cut-rr {
  left: 192px;
}

.cut-bll {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 42px;
}

.cut-brr {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 42px;
}

.cut-blll,
.cut-bllr,
.cut-brll,
.cut-brlr {
  position: absolute;
  width: 70px;
  height: 32px;
  border-radius: 205px / 106px;
  background-color: #edc233;
  bottom: 1px;
}

.cut-blll,
.cut-brll {
  -webkit-transform: rotate(-112deg);
  -moz-transform: rotate(-112deg);
  -ms-transform: rotate(-112deg);
  -o-transform: rotate(-112deg);
  transform: rotate(-112deg);
}

.cut-blll {
  right: 72px;
}

.cut-brll {
  left: 93px;
}

.cut-brlr {
  left: 72px;
}

.cut-bllr {
  right: 93px;
}

.cut-brlr,
.cut-bllr {
  -webkit-transform: rotate(-67deg);
  -moz-transform: rotate(-67deg);
  -ms-transform: rotate(-67deg);
  -o-transform: rotate(-67deg);
  transform: rotate(-67deg);
}

.cut-hd {
  width: 110px;
  height: 34px;
  background: #edc233;
  left: 92px;
  top: -2px;
  position: absolute;
}

.drw-hd-m {
  position: absolute;
  width: 36px;
  height: 56px;
  background-color: #111;
  left: 50%;
  margin-left: -19px;
  border-radius: 230px / 110px;
  top: 23px;
}

.drw-hd-lt,
.drw-hd-rt {
  position: absolute;
  width: 0;
  height: 0;
  top: 2px;
  border-bottom: 28px solid #111;
}

.drw-hd-lt {
  left: 129px;
  border-right: 14px solid transparent;
  border-left: 1px solid transparent;
}

.drw-hd-rt {
  right: 131px;
  border-left: 14px solid transparent;
  border-right: 1px solid transparent;
}
