.row {
  width: 90%;
  margin: 5px;
}

#content{
}

#calculator-body {
  background-color: tan;
  width: 300px;
}

#display {
  font-family: Arial, sans-serif;
  font-size: 3em;
  background-color: white;
  text-align: right;
  width: 240px;
  padding: 5px;
}

.key {
  margin-left: 8px;
  margin-right: 8px;
  width: 40px;
}

.operator {
  background-color: #0021A5;
  color: #FF4A00;

}

.num {
  background-color: #FF4A00;
  color: #0021A5;
}

#equal{
  width: 224px;
}
#end {
  font-weight: bold;
  width: 50%;
  text-align: center;
}
